body {
	background-color: #AAE2D9;
	font-family: Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana," sans-serif";
}

h1 {
	font-size: 60px;
	text-align: center;
	color: #D68878;
	text-shadow: #000000 2px 2px;
}


#container {
	text-align: left;
	margin-left: 20px;
	text-shadow: 2px;
	font-size: 20px;
}

#map {
	background-color:#D68878;
	font-size: 12px;
	color: white;
	box-shadow: #000000 1px 1px;
	font-weight: bold;
	border-radius: 15px;
	border-color:#8D513D;
}

#image {
	width: 600px;
	height: 350px;
	float: right;
	margin-right: 20px;
	margin-top: -345px;
}